[project]
	description = JenkinsWorks
[access "refs/*"]
	owner = group user/raja84 (raja84)
[access "refs/for/refs/*"]
	read = group user/raja84 (raja84)
	push = group user/raja84 (raja84)
	label-Code-Review = -2..+2 group user/raja84 (raja84)
	label-Verified = -1..+1 group user/raja84 (raja84)
	rebase = group user/raja84 (raja84)
	removeReviewer = group user/raja84 (raja84)
	submit = group user/raja84 (raja84)
[access "refs/heads/*"]
	read = group user/raja84 (raja84)
	create = group user/raja84 (raja84)
	push = +force group user/raja84 (raja84)
	pushMerge = group user/raja84 (raja84)
[access "refs/tags/*"]
	push = +force group user/raja84 (raja84)
	pushTag = group user/raja84 (raja84)
	pushSignedTag = group user/raja84 (raja84)
